<% layout('layouts/boilerplate') %>
<h1>수정 페이지</h1>

<form
  action="/campgrounds/<%= findID._id %>?_method=PUT"
  method="POST"
  novalidate
  class="needs-validation"
  enctype="multipart/form-data"
>
  <div class="mb-3 needs-validation">
    <label class="form-label" for="title">업체 이름</label>
    <input
      class="form-control"
      type="text"
      placeholder="<%= findID.title %> "
      name="campground[title]"
      id="title"
      value="<%= findID.title %>"
      required
    />
    <div class="valid-feedback">이름 가능합니다</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="location">위치</label>
    <input
      class="form-control"
      type="text"
      placeholder="<%= findID.location %> "
      name="campground[location]"
      id="location"
      value="<%= findID.location %>"
      required
    />
    <div class="valid-feedback">위치 가능합니다</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="price">가격</label>
    <input
      class="form-control"
      type="number"
      placeholder="<%= findID.price %> "
      name="campground[price]"
      id="price"
      value="<%= findID.price %>"
      required
    />
    <div class="valid-feedback">가격 가능합니다</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="image">이미지 넣기</label>
    <input type="file" name="image" id="image" multiple />
    <div class="valid-feedback">이미지 가능합니다</div>
  </div>

  <div class="mb-3">
    <% findID.images.forEach(function(img, i) { %>
    <img class="img-thumbnail" src="<%= img.url %>" alt="" />
    <div class="form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        value="<%= img.filename %>"
        id="image-<%= i %>"
        name="deleteImages[]"
      />
    </div>
    <label class="form-check-label" for="image-<%= i %>">삭제</label>
    <% }) %>
  </div>

  <div class="mb-3">
    <label class="form-label" for="description">상세정보</label>
    <textarea
      class="form-control"
      name="campground[description]"
      id="description"
      cols="40"
      rows="5"
      required
    >
<%= findID.description %></textarea
    >
    <div class="valid-feedback">상세정보 가능합니다</div>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">저장</button>
  </div>
</form>
<a href="/campgrounds/<%= findID._id %>">취소</a>
