<% layout('layouts/boilerplate') %>
<h1>수정 페이지</h1>

<form action="/campgrounds/<%= findID._id %>?_method=PUT" method="POST">
  <div class="mb-3">
    <label class="form-label" for="title">업체 이름</label>
    <input
      class="form-control"
      type="text"
      placeholder="<%= findID.title %> "
      name="campground[title]"
      id="title"
      value="<%= findID.title %>"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="location">위치</label>
    <input
      class="form-control"
      type="text"
      placeholder="<%= findID.location %> "
      name="campground[location]"
      id="location"
      value="<%= findID.location %>"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="price">가격</label>
    <input
      class="form-control"
      type="number"
      placeholder="<%= findID.price %> "
      name="campground[price]"
      id="price"
      value="<%= findID.price %>"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="image">이미지 URL</label>
    <input
      class="form-control"
      type="text"
      name="campground[image]"
      id="image"
      placeholder="<%= findID.image %>"
      value="<%= findID.image %>"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">상세정보</label>
    <textarea
      class="form-control"
      name="campground[description]"
      id="description"
      cols="40"
      rows="5"
    >
<%= findID.description %></textarea
    >
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">저장</button>
  </div>
</form>
<a href="/campgrounds/<%= findID._id %>">취소</a>
