<% layout('layouts/boilerplate') %>

<div id="map" style="width: 100px; height: 500px"></div>

<h1>새로운 캠프 만들기 <a href="/campgrounds/new">클릭</a></h1>
<div>
  <% for (let camp of campgrounds) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <% if (camp.images.length) { %>
        <img class="img-fluid" src="<%= camp.images[0].url %>" alt="" />
        <% } else { %>
        <img
          class="img-fluid"
          src="https://res.cloudinary.com/dkuktrvsu/image/upload/v1667469836/Campground/tjt80kht6mfv4enhs6ut.jpg"
          alt=""
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">업체 이름 - <%= camp.title %></h5>
          <p class="card-text">업체 설명 - <%= camp.description %></p>
          <p class="card-text">
            <small class="text-muted">업체 장소 - <%= camp.location %> </small>
          </p>
          <a class="btn btn-info" href="/campgrounds/<%= camp._id %>"
            >정보보기</a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
