<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6">
    <div class="card">
      <img class="img-thumbnail" src="<%= findID.image %> " alt="" />
      <div class="card-body">
        <h5 class="card-title">업체 - <%= findID.title %></h5>
        <h2 class="card-text">사업자 이름 - <%= findID.author.username %></h2>
        <p class="card-text"><%= findID.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">위치 - <%= findID.location %></li>
        <li class="list-group-item">$ <%= findID.price %> 원</li>
      </ul>
      <div class="card-body">
        <a
          class="card-link btn btn-warning"
          href="/campgrounds/<%= findID._id %>/edit"
          >수정</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= findID._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">삭제</button>
        </form>
      </div>
      <div class="card-footer">
        <a class="card-link" href="/campgrounds">모든 캠프 보기</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h2>댓글 달기</h2>
    <form
      action="/campgrounds/<%=findID._id%>/reviews"
      method="POST"
      class="mb-3 validated-form needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="rating">점수</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">댓글</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          placeholder="댓글달기"
          required
        ></textarea>
        <div class="valid-feedback">댓글달기</div>
      </div>
      <button type="submit" class="btn btn-success">댓글달기</button>
    </form>

    <div class="list-group">
      <% for (let review of findID.reviews) { %>
      <div
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= review._id %></div>
          <%= review.body %>
        </div>
        <span class="badge bg-primary rounded-pill"
          ><%= review.rating %> 점
        </span>
        <form
          action="/campgrounds/<%=findID._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn">삭제</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</div>
