<% layout('layouts/boilerplate') %>
<h1>Name - <%= findID.title %></h1>
<h1>Location - <%= findID.location %></h1>
<img src="<%= findID.image %> " alt="" />
<h2>Price - <%= findID.price %></h2>
<span><%= findID.description %> </span>

<footer>
  <a href="/campgrounds">All Campgrounds</a>
  <a href="/campgrounds/<%= findID._id %>/edit">Edit</a>

  <form action="/campgrounds/<%= findID._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
</footer>
